.hr{
    height: 3px;
    width: 0%;
    background-color: white;
}
.nav_item:hover .hr{
    width: 100%;
    transition: 0.2s;
}

nav {
    backdrop-filter: blur(6px);
}

@media (max-width: 768px) {
    .nav_item { font-size: 14px; }
    ul { padding-left: 2rem; padding-right: 2rem; }
}
