

.elem {
    grid-row-start: var(--r);
    grid-column-start: var(--c);
    grid-row-end: calc(var(--r) + 1);
    grid-column-end: calc(var(--c) + 1);
  }
  .proj{
    z-index: 1;
  }
  .Project_text{
    
    position: absolute;
    top:25%;
    color: transparent;
    z-index: -10;
    -webkit-text-stroke: 1px #95c11e;
  }
  @font-face {
    font-family: Gilroy-ExtraBold;
    src: url(../../assets//fonts/Gilroy-ExtraBold.otf);
  }